<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    

</head>

<body>

    <div ng-app="myApp" ng-controller="ctrl">

        <label >First name</label>
        <input type="text" name="fname" ng-model="fname">
        <br><br>

        <label >Last name</label>
        <input type="text" name="lname" ng-model="lname">
        
        <p>Full Name : {{fullName()}}</p>
        
    </div>


    <script>
        var app = angular.module('myApp',[]);
        app.controller('ctrl',function($scope) {
            $scope.fname = "Ajith";
            $scope.lname = "kumar";
            $scope.fullName = function() {
                  return $scope.fname + " " + $scope.lname;
            };
        });
    </script>

</body>
</html>